<div class="post-footer">
    <!-- Liker id  -->
    <div>
        <script type="text/javascript">
            document.write(
            "<iframe scrolling='no' frameborder='0' sandbox='allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox allow-storage-access-by-user-activation' style='height: 212px; width: 100%;' src='https://button.like.co/in/embed/simplydevs2023/button?referrer=<%- encodeURIComponent(page.permalink) %>'></iframe>");
        </script>
    <div>
    <!-- related posts  -->
    <% if (page.related_posts && page.related_posts.length > 0) { %>
    <section class="related-posts">
        <h2>推薦閱讀</h2>
        <ul>
        <%
        for (const path of page.related_posts) {
            var posts = site.posts.filter(function(post) {
                return post.path === path;
            });
            if (posts && posts.length > 0) {
                posts.each(function(apost) {
                %>
                <li><a href="<%- url_for(apost.path) %>"><%= apost.title || '(no title)' %></a></li>
                <%
                });
            }
        }
        %>
        </ul>
    </section>
    <br>
    <% } %>
    <div class="share-post">
        <span class="share-post-text" style="font-weight: 700; color: crimson;">分享本文：</span>
        <!-- AddToAny BEGIN -->
        <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
            <a class="a2a_button_facebook"></a>
            <a class="a2a_button_line"></a>
            <a class="a2a_button_twitter"></a>
            <a class="a2a_button_linkedin"></a>
            <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
        </div>
        <script async src="https://static.addtoany.com/menu/page.js"></script>
        <!-- AddToAny END -->
    </div>
    <div class="h-line-primary"></div>
    <nav class="post-nav">
        <div class="prev-item">
            <%if (page.prev) {%>
            <a href="<%=url_for(page.prev.path)%>">
                <div class="icon arrow-left"></div>
                <div class="post-link">
                    Prev
                </div>
            </a>
            <%}%>
        </div>
        <div class="next-item">
            <%if (page.next) {%>
            <a href="<%=url_for(page.next.path)%>">
                <div class="icon arrow-right"></div>
                <div class="post-link">
                    Next
                </div>
            </a>
            <%}%>
        </div>
    </nav>

</div>
