<div class="post-copyright">
  <ul class="post-copyright-list">
    <li class="post-copyright-author">
      <strong><%= theme.copyright.author %></strong><%= config.author%></a>
    </li>
    <li class="post-copyright-link">
      <strong><%= theme.copyright.link %></strong>
      <a href="<%- config.root %><%- page.path %>" target="_blank"
        title="<%= page.title %>"><%- config.url %>/<%- page.path %></a>
    </li>
    <li class="post-copyright-license">
      <strong><%= theme.copyright.license_title %> </strong>
      <%= theme.copyright.left_license_content %> <a rel="license"
      href="https://creativecommons.org/licenses/by-nc-nd/4.0/" target="_blank"
      title="Attribution-NonCommercial-NoDerivatives 4.0 International (CC BY-NC-ND 4.0)">CC
      BY-NC-ND 4.0</a>
      <%= theme.copyright.right_license_content %> 
    </li>
  </ul>
<div>
