<div class="post-copyright">
  <ul class="post-copyright-list">
    <li class="post-copyright-author">
      <strong><%= theme.copyright.author %></strong><a href="<%=url_for(theme.menu.About)%>"><%= config.author%></a>
    </li>
    <li class="post-copyright-link">
      <strong><%= theme.copyright.link %></strong>
      <a href="<%- config.root %><%- page.path %>" target="_blank"
        title="<%= page.title %>"><%- config.url %>/<%- page.path %></a>
    </li>
    <li class="post-copyright-license">
      <strong><%= theme.copyright.license_title %> </strong>
      <%= theme.copyright.left_license_content %> <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="CC BY-NC-SA 4.0" style="border-width:0; width: 80px" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a><br /><a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a>
      <%= theme.copyright.right_license_content %> 
    </li>
  </ul>
<div>
