<!DOCTYPE html>
<html lang="<%=config.language%>">
  <head>
    <%- partial('partials/head') %>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  </head>
  <body>
    <div class="mask-border">
    </div>

    <div class="wrapper">

      <%- partial('partials/header') %>

      <div class="main">
        <div class="flex-container">
          <%- body %>
        </div>
      </div>
      
      <%- partial('partials/footer') %>

    </div>

    <% if (theme.local_search.enable) {%>
      <%- partial('partials/search') %>
    <% } %>
    

  </body>
</html>
